__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.venv/

temp/*
!temp/.gitkeep
!temp/fomoh_mimic/
temp/fomoh_mimic/*
!temp/fomoh_mimic/.gitkeep

runs/*
!runs/.gitkeep
!runs/fomoh_mimic/
runs/fomoh_mimic/*
!runs/fomoh_mimic/.gitkeep

wandb/
outputs/
checkpoints/
